.claseAzul {
  background: rgb(0, 0, 0);
  height: 100%;
}
.div1{
  
  align-items: center;
  align-content: center;

}
.encendido {
  --background: green;
}

.apagado {
  --background: rgb(255, 0, 0); 
}
.encendido1 {
  --background: green;
}

.apagado1 {
  --background: rgb(255, 0, 0); 
}